OPENAI_SECRET=<Sua Chave da API da OpenAI>
TWITTER_USERNAME=<Seu Nome de Usuário do Twitter>
TWITTER_PASSWORD=<Sua Senha do Twitter>
PROMPT=<Seu Prompt Personalizado para a OpenAI>
TWITTER_URL_TO_FETCH=<URL do Perfil do Twitter para Monitorar>
RANDOM_STATIC_TWEETS=comentário1,comentário2,comentário3
